.footer {
	background-color: #202020;
	padding: 30px 0px 40px 0px;
	width: 100%;
	float: left;
}
.footer .container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-sect {
	color: #b3b3b3;
}
.footer-sect a {
	color: #b3b3b3;
	margin-left: 10px;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
}
.social-icon a i {
	width: 50px;
	height: 50px;
	border: 1px solid #cdcdcd;
	line-height: 50px;
	font-size: 20px;
	border-radius: 50%;
}

@media (width < 750px) {
  .footer{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  .footer .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
  }
}